<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Documento sin título</title>
<style type="text/css">
body,td,th {
	font-family: Arial;
	font-size: 12px;
}
</style>
</head>

<body>
<table width="100%" border="1" cellspacing="0" cellpadding="4" bordercolor="#D8D8D8">
  <tbody>
    <tr>
      <td colspan="2" align="center" bgcolor="#D8D8D8"><strong>Su Contraseña en PREMIATÓN</strong></td>
    </tr>
    <tr>
      <td width="50%" align="right"><strong>Nombre:</strong></td>
      <td width="50%">{{ nombre }}</td>
    </tr>
    <tr>
      <td align="right"><strong>Usuario:</strong></td>
      <td width="50%">{{ usuario }}</td>
    </tr>
    <tr>
      <td align="right"><strong>Contraseña</strong></td>
      <td>{{ contrasena }}</td>
    </tr>
    <tr>
      <td align="right"><strong>Email:</strong></td>
      <td>{{ email }}</td>
    </tr>
  </tbody>
</table>
</body>
</html>